{% load my_markdown %}


<!-- ======= About Section ======= -->
 <section id="about" class="about">
    <div class="container">

        <div class="section-title">
            <h2>Quién soy</h2>
        </div>

        <div class="row">
            <div class="col-lg-4" data-aos="fade-right">
                <img src="{{ perfil.imagen.url }}" class="img-fluid" alt="">
            </div>
            <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
                <h3>Backend Developer &amp; Web Developer.</h3>
                <p class="fst-italic">
                    {{ perfil.detalle | to_markdown | safe  }}
                </p>
                <div class="row">
                    <div class="col-lg-6">
                        <ul>
                            <li>
                                <i class="bi bi-chevron-right"></i>
                                <strong>Cumpleaños:</strong>
                                <span> {{ perfil.cumple }} </span>
                            </li>
                            <li>
                                <i class="bi bi-chevron-right"></i>
                                <strong>Ciudad:</strong>
                                <span> {{ perfil.ciudad }} </sp an>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul>
                            <li>
                                <i class="bi bi-chevron-right"></i>
                                <strong>Edad:</strong>
                                <span> {{ perfil.edad }} </span>
                            </li>
                            <li>
                                <i class="bi bi-chevron-right"></i>
                                <strong>Título:</strong>
                                <span> {{ perfil.titulo }} </span>
                            </li>

                        </ul>
                    </div>
                </div>
                <p>
                    {{ perfil.detalleactual | to_markdown | safe  }}
                </p>
            </div>
        </div>

    </div>
</section><!-- End About Section -->