<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
        <h1>{{ perfil.nombres }}</h1>
        <h1>{{ perfil.apellidos }}</h1>
        <p>Soy <span class="typed" data-typed-items="Freelancer, Backend Developer, Frontend Developer"></span></p>
    </div>
</section><!-- End Hero -->