
<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio section-bg">
    <div class="container">

        <div class="section-title">
            <h2>portafolios</h2>
        </div>

        <div class="row" data-aos="fade-up">
            <div class="col-lg-12 d-flex justify-content-center">
                <ul id="portfolio-flters">
                    <li data-filter="*" class="filter-active">Todos</li>
                    <li data-filter=".filter-web">Web</li>
                    <li data-filter=".filter-movil">Moviles</li>
                </ul>
            </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

            {% for prtafolio in prtafolios %}

                <a href="{% url 'portafolio' prtafolio.slug %}"
                    class="col-lg-4 col-md-6 portfolio-item 
                    {% if prtafolio.categoria == 'Web' %}filter-web{% else %}filter-movil{% endif %}">
                    <div class="portfolio-wrap">
                        <img src="{{ prtafolio.image.images.url }}" class="img-fluid" alt="">
                        <div class="portfolio-links">
                            {{ prtafolio.titulo }}
                        </div>
                    </div>
                </a>
            {% endfor %}




        </div>

    </div>
</section><!-- End Portfolio Section -->