{% load my_markdown %}


<!-- ======= Resume Section ======= -->
<section id="resume" class="resume">
    <div class="container">

        <div class="section-title">
            <h2>Resumen</h2>
            <p>{{ perfil.resumen | to_markdown | safe }} </p>
        </div>

        <div class="row">
            <div class="col-lg-6" data-aos="fade-up">

                <h3 class="resume-title">Educación</h3>

                {% for edu in educacion %}
                <div class="resume-item">
                    {% if edu.titulo is not None%}
                    <h4>{{ edu.titulo }}</h4>
                    {% endif %}
                    <h5>{{ edu.inicio }} - {{ edu.final }}</h5>
                    <p>
                        <em>
                            {{ edu.instituto }}
                            <br>
                            {{ edu.localidad }}
                        </em>
                    </p>
                    {{ edu.contenido | to_markdown | safe }}
                </div>
                {% endfor %}

            </div>

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                <h3 class="resume-title">Experiencia profesional</h3>
                {% for exp in experiencia %}
                <div class="resume-item">
                    <h4>{{ exp.puesto }}</h4>
                    <h5>{{ exp.inicio }} - {{ exp.final }}</h5>
                    <p>
                        <em>{{ exp.instituto }}
                            <br>
                            {{ exp.localidad }}
                        </em>
                    </p>
                    {{ exp.contenido  | to_markdown | safe }}
                </div>
                {% endfor %}
                <!-- <div class="resume-item">
                    <h4>Desarrollo web &amp; Desarrollo Móvil</h4>
                    <h5>2018 - Present</h5>
                    <p><em>Cositec.
                            <br>
                            Villa de Álvarez, Col, México.</em></p>
                    <p><strong>Cómputo Sistemas y Tecnología</strong> en este lugar hice mis prácticas
                        profesionales del
                        bachillerato, al terminar mi servicio quedé como becario, es el lugar en donde me
                        encuentro actualmente.
                    </p>
                    <ul>

                        <li>
                            Desarrollo de aplicaciones web utilizando .Net con el lenguaje C# como base,
                            JavaScript y JQuery como
                            auxiliares
                        </li>
                        <li>
                            Desarrollo de aplicaciones móviles utilizando el framework Flutter para crear
                            aplicaciones móviles, el
                            lenguaje dart como lenguaje base
                        </li>
                        <li>
                            Administrador de bases de datos SQL, usando vistas y procesos almacenados para
                            mostrar y manejar la
                            información del lado del servidor, usando respuestas estructuras para manejarla
                            mejor del lado del
                            cliente
                        </li>
                    </ul>
                </div>
                <div class="resume-item">
                    <h4>Administrado de Base de datos</h4>
                    <h5>2021 - 2021</h5>
                    <p><em>SNTSS
                            <br>
                            Colima, Col, México.</em></p>
                    <p>Proyecto en conjunto entre dos colegas y yo para el desarrollar una página para la
                        facilitación de la
                        búsqueda de centro de votación para legitimación del contrato colectivo de trabajo del
                        SNTSS
                    </p>
                    <ul>
                        <li>Diseño de la base de datos</li>
                        <li>Validación de datos</li>
                        <li>Estructura de respuesta</li>
                    </ul>
                </div> -->
            </div>
        </div>

    </div>
</section><!-- End Resume Section -->