<!-- ======= Skills Section ======= -->
<section id="skills" class="skills section-bg">
    <div class="container">

        <div class="section-title">
            <h2>habilidades</h2>
        </div>
        <div class="skills-short" data-aos="fade-up">
            {% for skill in skills %}
            <div class="skills-short-icon" title="{{ skill.titulo }}">
                <i class='{{ skill.classaicon }}'></i>
            </div>
            {% endfor %}
        </div>

    </div>
</section><!-- End Skills Section -->