{% extends 'layout.html' %}

{% load my_markdown %}
{% block content %}


<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>{{ portafolio.titulo }}</h2>

      </div>

    </div>
  </section><!-- End Breadcrumbs -->

  <!-- ======= Portfolio Details Section ======= -->
  <section id="portfolio-details" class="portfolio-details">
    <div class="container">

      <div class="row gy-4">

        {% include 'portafolios/portafolio-carrusel.html' %}
        
        
        {% include 'portafolios/portafolio-informacion.html' %}       

        <div class="col">

          <div class="portfolio-description">
            {{ portafolio.description | to_markdown | safe }}
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Portfolio Details Section -->

</main><!-- End #main -->


{% endblock %}