<div class="col-lg-4">
    <div class="portfolio-info">
      <h3>Información del proyecto </h3>
      <ul>
        <li><strong>Categoría</strong>: {{ portafolio.categoria }}</li>
        {% if portafolio.cliente is not None %}
        <li><strong>Cliente</strong>: {{ portafolio.cliente }}</li>
        {% endif %}
        <li><strong>Fecha del proyecto</strong>: {{ portafolio.Fecha }}</li>
        {% if portafolio.proyecto is not None %}
        <li><strong>URL del proyecto</strong>:
          <a href="{{ portafolio.proyecto }}" target="_blank">{{ portafolio.proyecto }}</a>
        </li>
        {% endif %}

      </ul>
    </div>
  </div>