<div class="col-lg-8 mostrarIMagenProtafolio">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">

      {% for img in imagenes%}
      {% if forloop.first %}
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ forloop.counter0 }}"
        class="active" aria-current="true" aria-label="Slide {{ forloop.counter0 }}"></button>
      {% else %}
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ forloop.counter0 }}"
        aria-label="{{ forloop.counter0 }}"></button>
      {% endif %}
      {% endfor %}

    </div>
    <div class="carousel-inner">
      {% for img in imagenes%}
      {% if forloop.first %}
      <div class="carousel-item active">
        <div class="imagencarrucel">
          <img src="{{ img.images.url }}" class="d-block " alt="...">
        </div>
      </div>
      {% else %}
      <div class="carousel-item ">
        <div class="imagencarrucel">

          <img src="{{ img.images.url }}" class="d-block " alt="...">
        </div>
      </div>
      {% endif %}
      {% endfor %}


    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>