.skills-short > .skills-short-icon {
  font-size: 40px;
  display: inline-block;
  background: #212431;
  color: #fff;
  line-height: 1;
  padding: 15px;
  margin: 10px;
  border-radius: 10%;
  text-align: center;
  width: 70px;
  height: 70px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  line-height: 30px;
}

.skills-short > .skills-short-icon:hover {
  background: #149ddd;
  color: #fff;
  text-decoration: none;
}

.skills-short > .skills-short-icon em {
  font-size: 12px;
  color: #212431;
  line-height: 5px;
}

.portfolio .portfolio-container .portfolio-item {
  color: black;
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
  }
}

@-webkit-keyframes fadeOutLeft {
  0% {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-20px);
    -webkit-transform: translateX(-20px);
  }
}

@keyframes fadeOutLeft {
  0% {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-20px);
    -webkit-transform: translateX(-20px);
  }
}

.fade-In-right {
  -webkit-animation: fadeInLeft 1.5s  linear;
  animation: fadeInLeft 1.5s  linear;
  opacity: 1;
}

.fade-Out-right {
  -webkit-animation: fadeOutLeft 1.5s  linear;
  animation: fadeOutLeft 1.5s  linear;
  opacity: 0;
}

.fadeInOutContainer {
  opacity: 0;
}

.mostrarIMagenProtafolio .carousel .carousel-inner {
  background: #2828297e !important;
  height: 432px;
}

.mostrarIMagenProtafolio .carousel .carousel-inner .carousel-item {
  height: 432px;
}

.mostrarIMagenProtafolio .carousel .carousel-inner .carousel-item .imagencarrucel {
  height: 432px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mostrarIMagenProtafolio .carousel .carousel-inner .carousel-item .imagencarrucel img {
  max-width: 100%;
  max-height: 100%;
}

#portfolio .portfolio-container .portfolio-wrap {
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #2828297e;
}

#portfolio .portfolio-container .portfolio-wrap img {
  max-width: 100%;
  max-height: 100%;
}
/*# sourceMappingURL=mystyle.css.map */