

.skills-short> .skills-short-icon 
    font-size: 40px
    display: inline-block
    background: #212431
    color: #fff
    line-height: 1
    padding: 15px
    margin: 10px
    border-radius: 10%
    text-align: center
    width: 70px
    height: 70px
    transition: 0.3s
    line-height: 30px
    &:hover
        background: #149ddd
        color: #fff
        text-decoration: none
    em
        font-size: 12px
        color: #212431
        line-height: 5px

.portfolio
    .portfolio-container
        .portfolio-item
            color: black

      

@keyframes fadeInLeft 
    0% 
        opacity: 0
        transform: translateX(-20px)
    
    100% 
        opacity: 1
        transform: translateX(0)
        -webkit-transform: translateX(0)

@keyframes fadeOutLeft
    0%       
        opacity: 1
        transform: translateX(0)
        -webkit-transform: translateX(0)

    100%              
        opacity: 0
        transform: translateX(-20px)   
        -webkit-transform: translateX(-20px)  

.fade-In-right
    -webkit-animation: fadeInLeft 1.5s  linear
    animation: fadeInLeft 1.5s  linear
    opacity: 1 

.fade-Out-right
    -webkit-animation: fadeOutLeft 1.5s  linear
    animation: fadeOutLeft 1.5s  linear
    opacity: 0

.fadeInOutContainer
    opacity: 0

// carusel
.mostrarIMagenProtafolio   
    .carousel 
        .carousel-inner
            background: #2828297e !important
            height: 432px
            .carousel-item
                height: 432px
                .imagencarrucel
                    height: 432px
                    display: flex
                    justify-content: center
                    align-items: center
                    
                    img
                        max-width: 100%
                        max-height: 100%

#portfolio
    .portfolio-container
        .portfolio-wrap
            height: 200px
            display: flex
            justify-content: center
            align-items: center
            background: #2828297e
            img
                max-width: 100%
                max-height: 100%