<!-- ======= Header ======= -->
<header id="header" class="fadeInOutContainer">
    <div class="d-flex flex-column">

        <div class="profile">
            <img src="{{ perfil.perfil.url }}" alt="" class="img-fluid rounded-circle">
            <h1 class="text-light"><a href="index.html">
                    <p>{{ perfil.nombres }}</p>
                    <p>{{ perfil.apellidos }}</p>
                </a></h1>
            <div class="social-links mt-3 text-center">
                {% if perfil.corroe is not None %}
                <a href="mailto:{{ perfil.corroe }}" class="" target="_blank"><i class="nf nf-mdi-email"></i></a>
                {% endif %}
                {% if perfil.gitlab is not None %}
                <a href="https://gitlab.com/{{ perfil.gitlab }}" class="google-plus" target="_blank"><i
                        class="bx bxl-gitlab"></i></a>
                {% endif %}
                {% if perfil.gitlab is not None %}
                <a href="https://github.com/{{ perfil.github }}" class="google-plus" target="_blank"><i
                        class="bx bxl-github"></i></a>
                {% endif %}
                {% if perfil.linkedin is not None %}
                <a href="https://www.linkedin.com/in/{{ perfil.linkedin }}/" class="linkedin" target="_blank">
                    <i class="bx bxl-linkedin"></i></a>
                {% endif %}


            </div>
        </div>


        <nav id="navbar" class="nav-menu navbar">
            <ul>
                <li><a href="{% url 'index' %}#hero" class="nav-link scrollto">
                        <i class="bx bx-home"></i>
                        <span>Inicio</span>
                    </a></li>
                <li><a href="{% url 'index' %}#about" class="nav-link scrollto">
                        <i class="bx bx-user"></i>
                        <span>Quién soy</span>
                    </a></li>
                <li><a href="{% url 'index' %}#skills" class="nav-link scrollto">
                        <i class='bx bxs-spa'></i>
                        <span>Habilidades</span>
                    </a></li>
                <li><a href="{% url 'index' %}#resume" class="nav-link scrollto">
                        <i class="bx bx-file-blank"></i>
                        <span>Resume</span>
                    </a></li>
                <li><a href="{% url 'index' %}#portfolio" class="nav-link scrollto">
                        <i class="bx bx-book-content"></i>
                        <span>Portafolios</span>
                    </a></li>

            </ul>
        </nav><!-- .nav-menu -->
    </div>
</header><!-- End Header -->